<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>BinixX OS</vendor>
  <vendor_url>https://github.com/Nic69Han/BinixX</vendor_url>
  <action id="org.binixx.reparer-systeme">
    <description>Restore system settings to the BinixX OS defaults</description>
    <description xml:lang="fr">Remettre des réglages du système comme dans BinixX OS à l'origine</description>
    <message>Authentication is required to restore system settings</message>
    <message xml:lang="fr">Une authentification est nécessaire pour remettre des réglages du système à l'origine</message>
    <icon_name>system-software-update</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/binixx/binixx-reparer-systeme</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
