[Desktop Entry]
Type=Application
Name=Programme Windows
Comment=Chercher l'équivalent BinixX OS d'un programme Windows (.exe, .msi)
Exec=/usr/libexec/binixx/binixx-centre --programme %f
Icon=binixx
Terminal=false
NoDisplay=true
MimeType=application/vnd.microsoft.portable-executable;application/x-ms-dos-executable;application/x-msdownload;application/x-msi;application/x-dosexec;
