[Desktop Entry]
Type=Application
Name=Obtenir de l'aide
GenericName=Aide et dépannage
Comment=Internet, imprimante, son, écran, lenteur, mise à jour, rapport pour le support
Exec=/usr/libexec/binixx/binixx-centre --page aide
Icon=help-browser
Terminal=false
Categories=System;
Keywords=aide;dépannage;problème;panne;support;rapport;diagnostic;réinitialiser;
StartupNotify=true
StartupWMClass=binixx-centre
