[Desktop Entry]
Type=Application
Name=Protéger mes données
GenericName=Chiffrement du disque et clé de récupération
Comment=Clé de récupération du disque chiffré, pare-feu
Exec=/usr/libexec/binixx/binixx-centre --page securite
Icon=security-high
Terminal=false
Categories=System;Security;
Keywords=chiffrement;disque;clé;récupération;bitlocker;mot de passe;sécurité;pare-feu;
StartupNotify=true
StartupWMClass=binixx-centre
