[Desktop Entry]
Type=Application
Name=Outlook (web)
GenericName=Courriel et agenda Microsoft 365 (web)
Comment=Courriel, agenda et contacts Outlook dans leur propre fenêtre
Exec=/usr/libexec/binixx/binixx-webapp https://outlook.office.com/mail/
Icon=internet-mail
Terminal=false
Categories=Office;
Keywords=outlook;microsoft;365;courriel;mail;agenda;
StartupNotify=true
# Classe de fenêtre de Chromium en mode application, pour grouper la fenêtre sous cette icône
StartupWMClass=chrome-outlook.office.com__mail_-Default
